@use "vars/name";
@use "vars/colors";
@use "vars/size";

.#{name.$editor} {
  position: relative;

  &__card {
    border-radius: 4px;
    border: 1px solid rgba(var(--v-border-color), var(--v-border-opacity));
    background-color: rgb(var(--v-theme-surface));
    margin: 0;
    position: relative;
    transition: border-color 0.2s;
  }

  &__content {
    overflow-wrap: break-word;
    width: 100%;
    position: relative;
  }

  &--readonly {
    .#{name.$editor}__content {
      background-color: rgba(var(--v-theme-surface-variant), 0.3);
    }
  }

  &--focused {
    .#{name.$editor}__card {
      border-color: colors.$editor-card-outline-focused;
    }
  }
}
