{
  "adminSwitcherConfigUrl": "${ADMIN_SWITCHER_CONFIG_URL}",
  "appEnvironment": "${APP_ENVIRONMENT}",
  "appVersion": "${APP_VERSION}",
  "apiLogError": {
    "enabled": ${API_LOG_ERROR_ENABLED},
    "apiUrl": "${API_LOG_ERROR_URL}"
  },
  "logoutCoreDamUrl": "${LOGOUT_CORE_DAM_URL}",
  "uploadStatusFallback": ${UPLOAD_STATUS_FALLBACK},
  "cookies": {
    "refreshTokenExistsName": "${COOKIES_REFRESH_TOKEN_EXISTS_NAME}",
    "jwtPayloadName": "${COOKIES_JWT_PAYLOAD_NAME}"
  },
  "dam": {
    "apiUrl": "${DAM_API_URL}",
    "apiTimeout": 30,
    "imageUrl": "${DAM_IMAGE_URL}",
    "authorCleanPhraseTestSample": "${DAM_AUTHOR_CLEAN_PHRASE_TEST_SAMPLE}"
  },
  "notification": {
    "enabled": ${NOTIFICATION_ENABLED},
    "webSocketUrl": "${NOTIFICATION_WEBSOCKET_URL}"
  }
}
