name: CI for AnzuSystems Admin-DAM by Petit Press a.s. (www.sme.sk)

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main
      - develop

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  lint:
    strategy:
      matrix:
        include:
          - node-version: 24
            docker-image: anzusystems/node:3.0.0-node24-nginx-browsers

    name: Node ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.docker-image }}
      options: --user root
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Yarn packages
        id: yarn-cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock', '*/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run Yarn CI
        run: yarn ci

      - name: Run Security check
        run: yarn npm audit
